.modalSingle {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    overflow: hidden;
  }

  #modal-content-single{
    display: flex;
  }
  
  /* Modal Content/Box */
  .modal-content-single {
    background-color: var(--primary-color);
    margin: 10% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    overflow: hidden;
  }

.containerSingle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .imageSingle {
    width: 150px;
    padding: 4px;
    margin: 4px;
  }
  
  .detailsSingle {
    flex: 1;
  }
  
  .titleSingle {
    font-size: 20px;
    font-weight: bold;
  }
  
  .overviewSingle {
    margin-top: 10px;
  }
  
  .buttonsSingle {
    margin-top: 10px;
  }
  
  .buttonsSingle button {
    margin-right: 10px;
    background-color: whitesmoke;
    color: var(--primary-color);
    font-size: 12px;
    font-weight: bold;
    border: 1px solid var(--secondary-color);
    padding: 10px 20px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  